*{
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
}

body {
  background: #f7e8b5 no-repeat center fixed;
  background-image: linear-gradient (rgba(255, 255, 255, 0.4), rgba (255, 255, 255, 0.4)), url("./assets/Cabin-in-Mountains-1000.jpg");
  color: #043813;
  font-family: sans-serif;
  font-size: 16px;
}
  
.title {
  font-family: Shrikhand;
  font-size: 48px;
  color: #2b1b14;
  text-align: center;
}

.fonts {
  font-family: Shrikhand;
  font-size: 24px;
  color: #043813;
  text-align: center;
}

p {
  font-family: "Nanum Myeongjo";
  font-weight: 600;
  line-height: 2.0;
  margin-bottom: 100px;
}
